
<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao blog do node!</h1>
  <p class="lead">Este é um BLOG simples, desenvolvido com Node.js + Express + mongoDB</p>
  <hr class="my-4">
  <p>Aqui voce vai poder ler as coisas do mundo da computação</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta!</a>
  </p>
</div>

<hr>
<h1>Postagem Recentes</h1>


	<div class="card mt-4">
		<div class="card-body">
		
		 <h3></h3>
		 <p></p>
		 <a href="/postagem/{{slug}}"> <button class="btn btn-success">Ler mais</button></a>
		
		 <hr>
		 <small></small><br>
		<small></small>
			
		</div>
	</div>

